<div class="col-md-4 colcard">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{city.cityName}}</h5>
        <div class="card-text">
                    Weather: <i class="fa fa-sun-o" aria-hidden="true"></i> {{city.weather.text}}<br/>
                    Temp: <i class="fa fa-thermometer-half" aria-hidden="true"></i> {{city.temp_c}} <br/>
                    Wind: <i class="fa fa-fighter-jet" aria-hidden="true"></i> {{city.wind_kph}} <br/>
        </div>
      </div>
      <div class="card-footer">
          <a [routerLink]="[ '/forecast', city.cityName ]" class="card-link">Show Forecast</a>
      </div>
    </div>
  </div>